---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>

        <title>Treemap Survey</title>

        <!-- FOR TESTING PURPOSE -->
                        <!--<meta content="3" http-equiv="refresh">-->
        <meta content="Treemap Survey" name="description"/>
        <meta content="VARG" name="author"/>
        <!-- TODO replace with local imports -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script crossorigin="anonymous" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <h1>Treemap Survey</h1>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="8"></th>
                    <th colspan="3">Design</th>
                    <th colspan="3">Participants</th>
                    <th colspan="3">Dataset</th>
                    <th colspan="8">Treemap Configuration</th>
                    <th colspan="2">Entry and Debriefing</th>
                    <th colspan="3">Tasks</th>
                    <th colspan="3">Measurement</th>
                    <th colspan="5">Paper Excerpts</th>
                    <th colspan="5">Unified Results</th>
                </tr>
                <tr>
                    <th>Study ID</th>
                    <th>Name</th>
                    <th>Authors</th>
                    <th>Subject</th>
                    <th>Categorization</th>
                    <th>Claims</th>
                    <th>Cited by</th>
                    <th>Hypotheses</th>
                    <th>Type</th>
                    <th>Independent Variable Design</th>
                    <th>Independent Variables</th>
                    <th>Count</th>
                    <th>Characterization</th>
                    <th>Implementation</th>
                    <th>Topology</th>
                    <th>Origin</th>
                    <th>Number Of Nodes</th>
                    <th>Topology Depiction</th>
                    <th>Dimensionality</th>
                    <th>Shape</th>
                    <th>Margin</th>
                    <th>Labeling</th>
                    <th>Navigation</th>
                    <th>Tool Implementation</th>
                    <th>UI Features</th>
                    <th>Training</th>
                    <th>User Opinion</th>
                    <th>Tasks</th>
                    <th>Metaphor</th>
                    <th>Dimensionality</th>
                    <th>Types</th>
                    <th>Effectiveness</th>
                    <th>Response Types</th>
                    <th>Results</th>
                    <th>Unproven Results</th>
                    <th>Result Based Claims</th>
                    <th>Unproven Claims</th>
                    <th>Treemap Rating</th>
                    <th>Unified Results</th>
                    <th>Proven Claims</th>
                    <th>Interpreted Results</th>
                    <th>Analysis of Tasks</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for survey in site.data.studies["user studies"] %}
                    <tr>
                        <td>{{survey["study-id"]}}</td>
                        <td>{{survey["short name"]}}</td>
                        <td>
                            {% for author in survey["author"]%}
                                {{author}}<br>
                            {% endfor %}
                        </td>
                        <td>{{survey["subject"]}}</td>
                        <td>{{survey["categorization"]["Plaisant"]}},
                            {{survey["categorization"]["Leroy"]}}</td>
                        <td>{{survey["claims"]}}</td>
                        <td>
                            {% for citer in survey["cited by"]%}
                                {{citer}}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for hypothesis in survey["evaluation"]["hypotheses"]%}
                                {{hypothesis}}<br>
                            {% endfor %}
                        </td>
                        <td>{{survey["evaluation"]["design"]["type"]}}</td>
                        <td>{{survey["evaluation"]["design"]["independent variables design"]}}</td>
                        <td>{{survey["evaluation"]["design"]["independent variables"]}}</td>
                        <td>{{survey["evaluation"]["participants"]["count"]}}</td>
                        <td>{{survey["evaluation"]["participants"]["characterization"]}}</td>
                        <td>{{survey["evaluation"]["participants"]["implementation"]}}</td>
                        <td>{{survey["evaluation"]["dataset"]["topology"]}}</td>
                        <td>{{survey["evaluation"]["dataset"]["origin"]}}</td>
                        <!-- TODO ADD MODE -->
                        <td>{{survey["evaluation"]["dataset"]["number of nodes"]["number"]}}</td>
                        <td>{{survey["evaluation"]["treemap configuration"]["topology depiction"]}}</td>
                        <td>{{survey["evaluation"]["treemap configuration"]["dimensionality"]}}</td>
                        <td>{{survey["evaluation"]["treemap configuration"]["shape"]}}</td>
                        <td>{{survey["evaluation"]["treemap configuration"]["margin"]}}</td>
                        <td>{{survey["evaluation"]["treemap configuration"]["labeling"]}}</td>
                        <td>{{survey["evaluation"]["treemap configuration"]["navigation"]}}</td>
                        <td>{{survey["evaluation"]["treemap configuration"]["tool implementation"]}}</td>
                        <td>
                            {% for uiFeature in survey["evaluation"]["treemap configuration"]["user interface features"] %}
                                {{uiFeature}}<br>
                            {% endfor %}
                        </td>
                        <td>{{survey["evaluation"]["entry and debriefing"]["training"]}}</td>
                        <td>{{survey["evaluation"]["entry and debriefing"]["user opinion"]}}</td>
                        <td>
                            {% for task in survey["evaluation"]["tasks"]["task list"] %}
                                {{task["task"]}}<br>
                            {% endfor %}
                        </td>
                        <td>{{survey["evaluation"]["tasks"]["metaphor"]}}</td>
                        <td>
                            {% for dimension in survey["evaluation"]["tasks"]["dimensionality"] %}
                                {{dimension}}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for type in survey["evaluation"]["measurement"]["measure types"] %}
                                {{type}}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for effectiveness in survey["evaluation"]["measurement"]["effectiveness measures"] %}
                                {{effectiveness}}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for response in survey["evaluation"]["measurement"]["response types"] %}
                                {{response}}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for result in survey["results and analysis"]["paper excerpts"]["results"] %}
                                {{result}}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for unprovenResult in survey["results and analysis"]["paper excerpts"]["unproven results"] %}
                                {{unprovenResult}}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for resultBasedClaims in survey["results and analysis"]["paper excerpts"]["result based claims"] %}
                                {{resultBasedClaims}}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for unprovenClaim in survey["results and analysis"]["paper excerpts"]["unproved claims"] %}
                                {{unprovenClaim}}<br>
                            {% endfor %}
                        </td>
                        <td>{{survey["results and analysis"]["paper excerpts"]["treemap rating"]}}</td>
                        <td>
                            {% for unifiedResults in survey["results and analysis"]["analysis of results"]["unified results"] %}
                                {{unifiedResults.category}}
                                {{unifiedResults["measure category"]}}
                                {{unifiedResults["unified result"]}}<br><br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for provenClaim in survey["results and analysis"]["analysis of results"]["proven claims"] %}
                                {{provenClaim.category}}
                                {{provenClaim.claim}}<br><br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for interpretedResults in survey["results and analysis"]["analysis of results"]["interpreted results"] %}
                                {{interpretedResults.category}}
                                {{interpretedResults["interpreted result"]}}<br><br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for analysisOfTask in survey["results and analysis"]["analysis of tasks"] %}
                                {{analysisOfTask["task id"]}}:
                                {{analysisOfTask.rating}}
                                {% for taskType in analysisOfTask["task types"] %}
                                    {{taskType}}
                                {% endfor %}
                                <br><br>
                            {% endfor %}
                        </td>
                        <td>{{survey["results and analysis"]["notes"]}}<br>
                            {{survey["notes"]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
