---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>

        <title>Treemap Survey</title>

        <meta content="Treemap Survey" name="description"/>
        <meta content="VARG" name="author"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <!-- TODO replace with local imports -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" rel="stylesheet"/>
        <!-- Bootstrap CSS CDN -->
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" rel="stylesheet">
        <!-- Scrollbar Custom CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" rel="stylesheet">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{{ 'css/sidebar.css' | relative_url }}">
        <!-- Font Awesome JS -->
        <script crossorigin="anonymous" defer integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
        <script crossorigin="anonymous" defer integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div id="dismiss">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="sidebar-header">
                    <h2>Settings</h2>
                </div>

                <ul class="list-unstyled components">
                    <h3>Visibility</h3>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#keyData">Key Data</a>
                        <ul class="collapse list-unstyled" id="keyData">
                            <li><a href="#" onclick="toggleColumn(0)">Study ID</a></li>
                            <li><a href="#" onclick="toggleColumn(1)">Name</a></li>
                            <li><a href="#" onclick="toggleColumn(2)">Authors</a></li>
                            <li><a href="#" onclick="toggleColumn(3)">Subject</a></li>
                            <li><a href="#" onclick="toggleColumn(4)">Categorization</a></li>
                            <li><a href="#" onclick="toggleColumn(5)">Claims</a></li>
                            <li><a href="#" onclick="toggleColumn(6)">Cited by</a></li>
                            <li><a href="#" onclick="toggleColumn(7)">Hypotheses</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#design">Design</a>
                        <ul class="collapse list-unstyled" id="design">
                            <li><a href="#" onclick="toggleColumn(8)">Type</a></li>
                            <li><a href="#" onclick="toggleColumn(9)">Independent Variable Design</a></li>
                            <li><a href="#" onclick="toggleColumn(10)">Independent Variables</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#participants">Participants</a>
                        <ul class="collapse list-unstyled" id="participants">
                            <li><a href="#" onclick="toggleColumn(11)">Count</a></li>
                            <li><a href="#" onclick="toggleColumn(12)">Characterization</a></li>
                            <li><a href="#" onclick="toggleColumn(13)">Implementation</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#dataset">Dataset</a>
                        <ul class="collapse list-unstyled" id="dataset">
                            <li><a href="#" onclick="toggleColumn(14)">Topology</a></li>
                            <li><a href="#" onclick="toggleColumn(15)">Origin</a></li>
                            <li><a href="#" onclick="toggleColumn(16)">Number Of Nodes</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#treemapConfiguration">Treemap Configuration</a>
                        <ul class="collapse list-unstyled" id="treemapConfiguration">
                            <li><a href="#" onclick="toggleColumn(17)">Topology Depiction</a></li>
                            <li><a href="#" onclick="toggleColumn(18)">Dimensionality</a></li>
                            <li><a href="#" onclick="toggleColumn(19)">Shape</a></li>
                            <li><a href="#" onclick="toggleColumn(20)">Margin</a></li>
                            <li><a href="#" onclick="toggleColumn(21)">Labeling</a></li>
                            <li><a href="#" onclick="toggleColumn(22)">Navigation</a></li>
                            <li><a href="#" onclick="toggleColumn(23)">Tool Implementation</a></li>
                            <li><a href="#" onclick="toggleColumn(24)">UI Features</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#entryAndDebriefing">Entry and Debriefing</a>
                        <ul class="collapse list-unstyled" id="entryAndDebriefing">
                            <li><a href="#" onclick="toggleColumn(25)">Training</a></li>
                            <li><a href="#" onclick="toggleColumn(26)">User Opinion</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#tasks">Tasks</a>
                        <ul class="collapse list-unstyled" id="tasks">
                            <li><a href="#" onclick="toggleColumn(27)">Tasks</a></li>
                            <li><a href="#" onclick="toggleColumn(28)">Metaphor</a></li>
                            <li><a href="#" onclick="toggleColumn(29)">Dimensionality</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#measurement">Measurement</a>
                        <ul class="collapse list-unstyled" id="measurement">
                            <li><a href="#" onclick="toggleColumn(30)">Types</a></li>
                            <li><a href="#" onclick="toggleColumn(31)">Effectiveness</a></li>
                            <li><a href="#" onclick="toggleColumn(32)">Response Types</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#paperExcerpts">Paper Excerpts</a>
                        <ul class="collapse list-unstyled" id="paperExcerpts">
                            <li><a href="#" onclick="toggleColumn(33)">Results</a></li>
                            <li><a href="#" onclick="toggleColumn(34)">Unproven Results</a></li>
                            <li><a href="#" onclick="toggleColumn(35)">Result Based Claims</a></li>
                            <li><a href="#" onclick="toggleColumn(36)">Unproven Claims</a></li>
                            <li><a href="#" onclick="toggleColumn(37)">Treemap Rating</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#unifiedResults">Unified Results</a>
                        <ul class="collapse list-unstyled" id="unifiedResults">
                            <li><a href="#" onclick="toggleColumn(38)">Unified Results</a></li>
                            <li><a href="#" onclick="toggleColumn(39)">Proven Claims</a></li>
                            <li><a href="#" onclick="toggleColumn(40)">Interpreted Results</a></li>
                            <li><a href="#" onclick="toggleColumn(41)">Analysis of Tasks</a></li>
                            <li><a href="#" onclick="toggleColumn(42)">Notes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div id="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button class="btn btn-info" id="sidebarCollapse" type="button">
                            <i class="fas fa-align-left"></i>
                            <span>Setting</span>
                        </button>
                        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="btn btn-dark d-inline-block d-lg-none ml-auto" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <h1>Treemap Studies</h1>
                        </div>
                    </div>
                </nav>
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th colspan="8">Key Data</th>
                            <th colspan="3">Design</th>
                            <th colspan="3">Participants</th>
                            <th colspan="3">Dataset</th>
                            <th colspan="8">Treemap Configuration</th>
                            <th colspan="2">Entry and Debriefing</th>
                            <th colspan="3">Tasks</th>
                            <th colspan="3">Measurement</th>
                            <th colspan="5">Paper Excerpts</th>
                            <th colspan="5">Unified Results</th>
                        </tr>
                        <tr>
                            <th topLevelColumnIndex="0">Study ID</th>
                            <th topLevelColumnIndex="0">Name</th>
                            <th topLevelColumnIndex="0">Authors</th>
                            <th topLevelColumnIndex="0">Subject</th>
                            <th topLevelColumnIndex="0">Categorization</th>
                            <th topLevelColumnIndex="0">Claims</th>
                            <th topLevelColumnIndex="0">Cited by</th>
                            <th topLevelColumnIndex="0">Hypotheses</th>
                            <th topLevelColumnIndex="1">Type</th>
                            <th topLevelColumnIndex="1">Independent Variable Design</th>
                            <th topLevelColumnIndex="1">Independent Variables</th>
                            <th topLevelColumnIndex="2">Count</th>
                            <th topLevelColumnIndex="2">Characterization</th>
                            <th topLevelColumnIndex="2">Implementation</th>
                            <th topLevelColumnIndex="3">Topology</th>
                            <th topLevelColumnIndex="3">Origin</th>
                            <th topLevelColumnIndex="3">Number Of Nodes</th>
                            <th topLevelColumnIndex="4">Topology Depiction</th>
                            <th topLevelColumnIndex="4">Dimensionality</th>
                            <th topLevelColumnIndex="4">Shape</th>
                            <th topLevelColumnIndex="4">Margin</th>
                            <th topLevelColumnIndex="4">Labeling</th>
                            <th topLevelColumnIndex="4">Navigation</th>
                            <th topLevelColumnIndex="4">Tool Implementation</th>
                            <th topLevelColumnIndex="4">UI Features</th>
                            <th topLevelColumnIndex="5">Training</th>
                            <th topLevelColumnIndex="5">User Opinion</th>
                            <th topLevelColumnIndex="6">Tasks</th>
                            <th topLevelColumnIndex="6">Metaphor</th>
                            <th topLevelColumnIndex="6">Dimensionality</th>
                            <th topLevelColumnIndex="7">Types</th>
                            <th topLevelColumnIndex="7">Effectiveness</th>
                            <th topLevelColumnIndex="7">Response Types</th>
                            <th topLevelColumnIndex="8">Results</th>
                            <th topLevelColumnIndex="8">Unproven Results</th>
                            <th topLevelColumnIndex="8">Result Based Claims</th>
                            <th topLevelColumnIndex="8">Unproven Claims</th>
                            <th topLevelColumnIndex="8">Treemap Rating</th>
                            <th topLevelColumnIndex="9">Unified Results</th>
                            <th topLevelColumnIndex="9">Proven Claims</th>
                            <th topLevelColumnIndex="9">Interpreted Results</th>
                            <th topLevelColumnIndex="9">Analysis of Tasks</th>
                            <th topLevelColumnIndex="9">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for survey in site.data.studies["user studies"] %}
                            <tr>
                                <td>{{survey["study-id"]}}</td>
                                <td>{{survey["short name"]}}</td>
                                <td>
                                    {% for author in survey["author"]%}
                                        {{author}}<br>
                                    {% endfor %}
                                </td>
                                <td>{{survey["subject"]}}</td>
                                <td>{{survey["categorization"]["Plaisant"]}},
                                    {{survey["categorization"]["Leroy"]}}</td>
                                <td>{{survey["claims"]}}</td>
                                <td>
                                    {% for citer in survey["cited by"]%}
                                        {{citer}}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for hypothesis in survey["evaluation"]["hypotheses"]%}
                                        {{hypothesis}}<br>
                                    {% endfor %}
                                </td>
                                <td>{{survey["evaluation"]["design"]["type"]}}</td>
                                <td>{{survey["evaluation"]["design"]["independent variables design"]}}</td>
                                <td>{{survey["evaluation"]["design"]["independent variables"]}}</td>
                                <td>{{survey["evaluation"]["participants"]["count"]}}</td>
                                <td>{{survey["evaluation"]["participants"]["characterization"]}}</td>
                                <td>{{survey["evaluation"]["participants"]["implementation"]}}</td>
                                <td>{{survey["evaluation"]["dataset"]["topology"]}}</td>
                                <td>{{survey["evaluation"]["dataset"]["origin"]}}</td>
                                <!-- TODO ADD MODE -->
                                <td>{{survey["evaluation"]["dataset"]["number of nodes"]["number"]}}</td>
                                <td>{{survey["evaluation"]["treemap configuration"]["topology depiction"]}}</td>
                                <td>{{survey["evaluation"]["treemap configuration"]["dimensionality"]}}</td>
                                <td>{{survey["evaluation"]["treemap configuration"]["shape"]}}</td>
                                <td>{{survey["evaluation"]["treemap configuration"]["margin"]}}</td>
                                <td>{{survey["evaluation"]["treemap configuration"]["labeling"]}}</td>
                                <td>{{survey["evaluation"]["treemap configuration"]["navigation"]}}</td>
                                <td>{{survey["evaluation"]["treemap configuration"]["tool implementation"]}}</td>
                                <td>
                                    {% for uiFeature in survey["evaluation"]["treemap configuration"]["user interface features"] %}
                                        {{uiFeature}}<br>
                                    {% endfor %}
                                </td>
                                <td>{{survey["evaluation"]["entry and debriefing"]["training"]}}</td>
                                <td>{{survey["evaluation"]["entry and debriefing"]["user opinion"]}}</td>
                                <td>
                                    {% for task in survey["evaluation"]["tasks"]["task list"] %}
                                        {{task["task"]}}<br>
                                    {% endfor %}
                                </td>
                                <td>{{survey["evaluation"]["tasks"]["metaphor"]}}</td>
                                <td>
                                    {% for dimension in survey["evaluation"]["tasks"]["dimensionality"] %}
                                        {{dimension}}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for type in survey["evaluation"]["measurement"]["measure types"] %}
                                        {{type}}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for effectiveness in survey["evaluation"]["measurement"]["effectiveness measures"] %}
                                        {{effectiveness}}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for response in survey["evaluation"]["measurement"]["response types"] %}
                                        {{response}}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for result in survey["results and analysis"]["paper excerpts"]["results"] %}
                                        {{result}}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for unprovenResult in survey["results and analysis"]["paper excerpts"]["unproven results"] %}
                                        {{unprovenResult}}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for resultBasedClaims in survey["results and analysis"]["paper excerpts"]["result based claims"] %}
                                        {{resultBasedClaims}}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for unprovenClaim in survey["results and analysis"]["paper excerpts"]["unproved claims"] %}
                                        {{unprovenClaim}}<br>
                                    {% endfor %}
                                </td>
                                <td>{{survey["results and analysis"]["paper excerpts"]["treemap rating"]}}</td>
                                <td>
                                    {% for unifiedResults in survey["results and analysis"]["analysis of results"]["unified results"] %}
                                        {{unifiedResults.category}}
                                        {{unifiedResults["measure category"]}}
                                        {{unifiedResults["unified result"]}}<br><br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for provenClaim in survey["results and analysis"]["analysis of results"]["proven claims"] %}
                                        {{provenClaim.category}}
                                        {{provenClaim.claim}}<br><br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for interpretedResults in survey["results and analysis"]["analysis of results"]["interpreted results"] %}
                                        {{interpretedResults.category}}
                                        {{interpretedResults["interpreted result"]}}<br><br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for analysisOfTask in survey["results and analysis"]["analysis of tasks"] %}
                                        {{analysisOfTask["task id"]}}:
                                        {{analysisOfTask.rating}}
                                        {% for taskType in analysisOfTask["task types"] %}
                                            {{taskType}}
                                        {% endfor %}
                                        <br><br>
                                    {% endfor %}
                                </td>
                                <td>{{survey["results and analysis"]["notes"]}}<br>
                                    {{survey["notes"]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <!-- Popper.JS -->
        <script crossorigin="anonymous" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script crossorigin="anonymous" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script src="{{ 'js/filter_table.js' | relative_url }}"></script>

    </body>
</html>
