{% if id == 'name' %}
    {{values}}<br/><br/>
    <a href="./studies.html#{{survey['study-id']}}" target="_blank">More Details</a>
{% elsif id == 'task-types' %}
    {% assign task_types = values | map: 'task types' | uniq | sort %}
    {% if task_types.size == 1 %}
        {% assign value = task_types.first %}
        {% include value.html%}
    {% else %}
    <ul>
        {% for value in task_types %}
            <li>{% include value.html%}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% elsif id == 'task-list' %}
    <dl>
        {% for task in values %}
            <dt>Task {% assign value = task['id'] %}{%include value.html%}</dt><dd>{% assign value = task['task'] %}{% include value.html %}</dd>
        {% endfor %}
    </dl>
{% elsif values.size == 1 %}
    {% assign value = values.first %}
    {% include value.html %}
{% else %}
<ul>
    {% for v in values %}
        {% assign value = v %}
        <li>{% include value.html%}</li>
    {% endfor %}
</ul>
{% endif %}
